<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page">
  <div class="background-image"></div>

  <div class="login-container">
    <div class="login-content">
      <ion-list [formGroup]="loginForm" class="login-form">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-list>

      <div class="error-message" *ngIf="loginForm.invalid && loginForm.touched">
        Por favor ingrese email y contraseña.
      </div>

      <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>